<?xml version="1.0"?>
<!--
  Used for visualising my robot while building a map or navigating with the ros navistack.
 -->
<launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot)/rvizConfig/navigation.rviz">
    <param name="base_frame_id" value="robot_footprint"/>
  </node>
</launch>
